* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

#root > * {
  width: 100%;
}

:root {
  --color-neutral-1: #fafafa;
  --color-neutral-2: #f5f5f5;
  --color-neutral-3: #e5e5e5;
  --color-neutral-4: #a1a1aa;
  --color-neutral-5: #0a0a0a;
  --color-primary-1: #1d4ed8;
  --color-failure: #dc2626;

  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-size: 14px;

  background-color: var(--color-neutral-3);
  color: var(--color-neutral-5);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/** Anchor */

a {
  color: var(--color-primary-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-primary-1);
}

/** Input */

button,
input {
  background-color: var(--color-neutral-1);
  border: 1px solid var(--color-neutral-4);
  border-radius: 0;
  font-size: 0.9em;
  margin: 0;
  padding: 0.3em 0.6em;
  outline: none;
}

button:hover,
input:hover {
  background-color: var(--color-neutral-2);
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: var(--color-neutral-3);
}

button:focus,
input:focus {
  border-color: var(--color-primary-1);
}

button:disabled,
input:disabled {
  background-color: var(--color-neutral-3);
}

button.error,
input.error {
  border-color: var(--color-failure);
}

/** Checkbox */

input[type="checkbox"] {
  margin-right: 5px;
  accent-color: var(--color-primary-1);
}

input[type="checkbox"] + label {
  font-size: 0.9em;
}

/** Layout */

.container {
  margin: 1em auto;
  padding: 1em;
  width: 500px;
  max-width: 600px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-1 {
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.self-center {
  align-self: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(auto-fill, 140px);
}

.h-spacer {
  width: 0.3em;
}

.v-spacer {
  height: 0.4em;
}

.full-h {
  height: 100%;
}

.full-w {
  width: 100%;
}

.text-center {
  text-align: center;
}

/** Typography */

.text-danger {
  color: var(--color-failure);
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
}

/** Components */

.error-icon {
  align-items: center;
  border: 1px solid var(--color-failure);
  border-radius: 100%;
  color: var(--color-failure);
  display: flex;
  font-size: 0.9em;
  font-weight: bold;
  justify-content: center;
  top: 50%;
  right: 0.6em;
  transform: translate(0%, -50%);
  height: 16px;
  width: 16px;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: max-content;
  min-width: 50px;
  max-width: 200px;
  top: 150%;
  right: 0;
  background-color: var(--color-neutral-3);
  border: 1px solid var(--color-neutral-4);
  text-align: center;
  padding: 0.2em 1em;
  color: initial;
  font-weight: initial;
}

.tooltip:hover {
  z-index: 1;
  cursor: help;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

table.results {
  background-color: var(--color-neutral-1);
  border: 1px solid var(--color-neutral-4);
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

table.results thead tr {
  border-bottom: 1px solid var(--color-neutral-4);
}

table.results tbody tr:nth-child(odd) {
  background-color: var(--color-neutral-3);
}

table.results tr {
  padding: 0.4em 1em;
}

table.results tbody tr:hover {
  cursor: pointer;
  background-color: var(--color-primary-1);
  color: var(--color-neutral-1);
}

table.results td,
table.results th {
  width: 33%;
  padding: 0.3em 1em;
  border: 1px solid var(--color-neutral-4);
  overflow: hidden;
  text-overflow: ellipsis;
}
